body{
  margin: 0%;
}
.header{
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
}
.headerTitle{
  color: white;
  font-size: 4vw;
}
.headerImg{
  max-width: 100%;
  width: 20vw;
  height: 20vh;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

}
.footer{
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 10%;

}
.footerNotes{
  margin: 1px;
  font-size: 2vw;
}
.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
}
.liItem:hover{
  background-color: turquoise;
  cursor: pointer;
}
.liItem{
  list-style: none;
  padding-bottom: 0.5em;
}
.basketItem{
  list-style: none;
}
.basketItem:hover{
  background-color: turquoise;
}
.putline{
  text-decoration: line-through;
}
.clearBasketImg{
  opacity: 0.5;
}
.clearBasketImg:hover{
  opacity: 1;
  cursor: pointer;
}
.svgs{
  color: green;
}
.svgMin{
  color: red;
}

h4{
  text-align: center;
}
